#aboutBanner{
    background: linear-gradient(rgba(0,0,0,0.1), #009688),url(../asset/image/about-post.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
.aboutContent h1{
    text-align: center;
    font-weight: bold;
    margin: 35px 0;
}
.aboutContent p{
    text-align: left;
    padding: 10px 0;
}
.aboutTeam h1{
    text-align: center;
    font-weight: bold;
    margin: 40px 0;
}
.teamCard{
    height: 280px;
    width: 250px;
    background: #ececec;
    margin-bottom: 30px;
}
.teamCardImg img{
    width: 100%;
}
.teamCardContent{
    margin: 15px 0 0 0;
    text-align: center;
    font-weight: bold;
}

@media(max-width:1024px){
    .teamCard{
      width: 220px;
    }
  }
  @media(max-width:768px){
    .teamCard{
      width: 280px;
    }
  }
  @media(max-width:540px){
    .teamCard{
      width: 300px;
      margin-left: 110px;
    }
  }
  @media(max-width:415px){
    .teamCard{
      width: 300px;
      margin-left: 40px;
    }
  }
  @media(max-width:375px){
    .teamCard{
      width: 300px;
      margin-left: 25px;
    }
  }
  @media(max-width:320px){
    .PressCard{
      width: 250px;
      margin-left: 20px;
    }
  }
