#contactBanner{
    background: linear-gradient(rgba(0,0,0,0.1), #009688),url(../asset/image/contactBanner.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgb(12, 12, 12);
}
.contactContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.contactContainer .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contactContainer .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactContainer .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(70, 69, 69);
    color: rgb(238, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contactContainer .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(10, 10, 10);
    flex-direction: column;
    font-weight: 300;
}
.contactContainer .contactinfo .box .text a{
    text-decoration: none;
    color: black;
}
.contactContainer .contactinfo .box .text h3{
    font-weight: 500;
    color: #000;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 15px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
    width: 100%;
    background: rgb(49, 49, 49);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}
@media(max-width: 991px)
{
    .contact{
        padding: 50px;
        margin-top: 100px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactform
    {
        width: 100%;
    }
}